<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TelegramApiKey" value="2129901002:AAGwTICW8RxvoD-0BXNrBAPp241WLVE993k" />
    <add key="MongoDbConnectionString" value="mongodb+srv://AzamTurgunboyev:azam1998@cluster0.lnnr1.mongodb.net/myFirstDatabase?retryWrites=true&amp;w=majority" />
    <add key="DatabaseName" value="ScrumPlanningDb" />
    <add key="UsersCollectionName" value="Users" />
    <add key="RoomsCollectionName" value="Rooms" />
  </appSettings>
</configuration>